modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg-full", "freetype", "glibcLocales", "imagemagickBig", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "telegram_bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install python-telegram-bot python-dotenv pdf2docx python-docx pillow pydub moviepy reportlab && python main.py"

[[workflows.workflow]]
name = "telegram_bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install python-telegram-bot python-dotenv pdf2docx python-docx pillow pydub moviepy reportlab"
